<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
</head>
<body>
    <div>
        <%=session.title%>
    </div>
    <div>
        <%=session.speaker.name%>
    </div>
    <div>
        Speaker Bio: <%=session.speaker.bio%>
    </div>
    <div>
        <%=session.description%>
    </div>
</body>
</html>